<h1 (click)="homeClicked()">Home</h1>

<h2>Usuários</h2>

<table>
  <tr>
    <th>#</th>
    <th>Usuário</th>
    <th>Ações</th>
  </tr>
  <tr *ngFor = "let member of members">
    <td>{{ member.id }}</td>
    <td>{{  member.name  }} {{  member.surname  }}</td>
    <td>
      <button (click)="memberClicked(member)">Editar</button> |
      <button (click)="memberAssigsClicked(member)">Tarefas</button>
    </td>
  </tr>
</table>

<button (click)="newMember()">Novo Usuário</button>

<router-outlet></router-outlet>