<h2>Nova Tarefa</h2>

<label>Descrição:</label><br>

<input type="text" [(ngModel)]=assig.desc><br>

<label>Status:</label><br>
<select [(ngModel)]="assig.status" name="status" [(ngModel)]=assig.status>
    <option value="Pendente">Pendente</option>
    <option value="Feito">Feito</option>
</select><br>

<label>Usuário:</label><br>
<select [(ngModel)]="assig.member" name="member_id">
    <option *ngFor = "let member of members_select" [value]="member.id">{{ member.name }}</option>
</select><br>

<button (click)=save()>salvar</button>