<h2>Tarefas do Usuário: {{ selected_member.name }}</h2>
<table>
  <tr>
    <th>#</th>
    <th>Descrição</th>
    <th>Ações</th>
  </tr>
  <tr *ngFor = "let assig of selected_member.assigs">
    <td>{{ assig.id }}</td>
    <td>{{  assig.desc  }}</td>
    <td>
      <button (click)="updateStatus(assig)">{{ assig.status }}</button>
      |
      <button (click)="delete(assig.id)">Exclui</button>
    </td>
  </tr>
</table><br>

<button (click)="newAssig()">Nova Tarefa</button>

<router-outlet></router-outlet>